<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.a00000.blog.mapper.SystemConfigMapper">
    <select id="selectByForm" parameterType="xyz.a00000.blog.bean.common.PageForm" resultType="xyz.a00000.blog.bean.orm.SystemConfig">
        select * from system_config
        <where>
            <if test="form.conditions != null">
                <if test="form.conditions.id != null">
                    and id = #{form.conditions.id}
                </if>
                <if test="form.conditions.name != null and form.conditions.name != ''">
                    and `name` like concat('%', #{form.conditions.name}, '%')
                </if>
                <if test="form.conditions.value != null and form.conditions.value != ''">
                    and `value` like concat('%', #{form.conditions.value}, '%')
                </if>
                <if test="form.conditions.info != null and form.conditions.info != ''">
                    and info like concat('%', #{form.conditions.info}, '%')
                </if>
            </if>
        </where>
    </select>
</mapper>