<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.a00000.blog.mapper.EssayTagMapper">
    <select id="selectByEssayId" parameterType="java.lang.Integer" resultType="xyz.a00000.blog.bean.orm.EssayTag">
        select
               essay_essay_tag.id as id, creator_id as creatorId, tag_name as tagName, essay_essay_tag.create_time as createTime
        from essay_tag inner join essay_essay_tag
            on essay_tag.id = essay_essay_tag.essay_tag_id
        where essay_essay_tag.essay_id = #{essayId}
    </select>
</mapper>